<%- include('./includes/header.ejs') %>
<div class="container">
    <div class="row">
        <div class="form_wrapper">
            <div class="form_wrapper_inner">
                <% if (errorMessage) { %>
                    <div class="user-message user-message--error"><%= errorMessage %></div>
                <% } %>
                <form class="login-form" action="/signup" method="POST" novalidate>
                    <div class="form-control">
                        <label for="email">E-Mail</label>
                        <input 
                            class=""
                            type="email" 
                            name="email" 
                            id="email" 
                            value="<%= oldInput.email %>">
                    </div>
                    <div class="form-control">
                        <label for="password">Password</label>
                        <input 
                            class=""
                            type="password" 
                            name="password" 
                            id="password" 
                            value="<%= oldInput.password %>">
                    </div>
                    <div class="form-control">
                        <label for="confirmPassword">Confirm Password</label>
                        <input 
                            class=""
                            type="password" 
                            name="confirmPassword" 
                            id="confirmPassword" 
                            value="<%= oldInput.confirmPassword %>">
                    </div>
                    <div class="form-control">
                        <button class="btn" type="submit">Signup</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<%- include('./includes/footer.ejs') %>